<mn-header></mn-header>
<mn-body>
  <perfect-scrollbar class="heighMaxScrollBar">
      <mn-table [data]="data" [metaDataColumns]="metaDataColumns">
        <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="align-button">
        <a href="{{ row.link }}"><mat-icon>open_in_new</mat-icon></a>
        <div>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        </div>
      </td>
    </ng-container>
    </mn-table>
  </perfect-scrollbar>
  <mn-paginator
    (onChangePage)="changePage($event)"
    [length]="totalRecords"
  ></mn-paginator>
</mn-body>
