.header {
  width: 65vw;
  text-align: left;
  display: flex;
  flex-flow: row;
}
h2 {
  margin-top: 0.5em;
  font-family: "Times New Roman";
  font-size: 35px;
  color: rgb(100, 48, 48);
}
img {
  width: 5%;
  height: 5%;
}
